@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #7e1dd8;
  transition: all 0.3s ease;
}

.link a:hover::after {
  cursor: n-resize;
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 20px;
  color: #fff;
  background-color: #7e1dd8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  cursor: copy;
  background-color: #7e1dd8;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #7e1dd8;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
}

header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
}

header .image {
  position: relative;
}

header .image::before {
  content: "o";
  position: absolute;
  nav-down: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #7e1dd8;
  opacity: 0.2;
  z-index: -100;
  opacity: 2%;
}

header .image img {
  max-width: 400px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.features {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.features .card {
  background-color: #27272a;
  padding: 4rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.features .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.features .card span {
  display: inline-block;
  padding: 2px 160px;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 5px;
}

.features .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}

.features .card i {
  color: #8300a1;
  font-size: 6rem;
}

.features .card p {
  color: #ccc;
  font-size: 20px;
}

.features .card a {
  color: #fff;
  transition: all 0.3s ease;
}

.features .card a:hover {
  color: #7e1dd8;
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ccc;
}

.pricing {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 2rem;
  justify-content: flex-end; /* Den Inhalt nach rechts verschieben */
  align-items: center;
  margin-left: 20px; /* Beispiel: Verwende den gewünschten Abstand */
}

.pricing .card {
  padding: 3rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.pricing .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.pricing .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.pricing .card h4 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.pricing .card h3 {
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.pricing .card p {
  color: #fff;
  margin-bottom: 0.75rem;
}

.pricing .card p i {
  color: #ccc;
  font-size: 2rem;
  margin-right: 0.3rem;
}

.pricing .card button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.pricing .card button:hover {
  background-color: #7e1dd8;
  border-color: #7e1dd8;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: #ccc;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: #fff;
  background-color: #7e1dd8;
  border-color: #7e1dd8;
}

footer .column h4 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
/*test-front*/
footer .column > a {
  display: block;
  color: #ccc;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #7e1dd8;
  font-size: 1.2rem;
}

.left-image {
  top: 180px;
  width: 320px;
  height: 400px;
  position: absolute;
  right: 540px;
  cursor: pointer;
}

.footer {
  color: white;
}

.footer:hover {
  background-color: rgba(0, 75, 251, 0.259);
  color: rgb(95, 95, 95);
}

footer {
  text-align: center;
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
  border-top: 1px solid #545454;
}

@media (width > 900px) {
  footer .column h4 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  footer .column > a:hover {
    font-size: 1.6rem;
  }
}

@media (width < 1200px) {
  .left-image {
    right: 100px;
  }
}

@media (width < 1308px) {
  .left-image {
    display: none;
  }
}

@media (width < 900px) {
  .features .card i {
    color: #8300a1;
    font-size: 40px;
  }

  .features .card {
    padding: 3px;
  }

  .features .card h4 {
    font-size: 24px;
  }

  .features .card span {
    display: inline-block;
    padding: 2px 140px;
  }

  .nav-logo {
    height: 80px;
    width: 80px;
    left: 20px;
  }
  .nav-links {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: 1fr 200px;
  }
}

@media (width < 600px) {
  .btn {
    right: 20px;
    height: 60px;
    width: 180px;
    font-size: 14px;
    size: 80px;
  }

  .nav-logo {
    height: 80px;
    width: 80px;
    left: 20px;
  }

  header .image::before {
    display: none;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    grid-template-columns: 1fr 150px;
  }
}

/* Fügt einige gruselige Effekte hinzu, die zu Halloween passen */
.blur {
  background: radial-gradient(circle, transparent, #000 80%);
  animation: blur 10s infinite;
}

@keyframes blur {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
